body {
  background-color: whitesmoke;
}
nav {
  position: relative;
}
.sidebar-button {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 2;
}
.header {
  display: block;
  text-align: center;
  min-height: 60px;
}
.create-account-button,
.login-button,
.search-button {
  margin: 10px;
}
.sub-nav {
  display: flex;
  flex-direction: row;
}
.sub-nav-link {
  width: 33%;
  text-align: center;
  font-size: larger;
}
.sub-nav-link.active {
  font-weight: bolder;
}
