body {
  background-color: whitesmoke;
}
nav {
  position: relative;
}
.sidebar-button {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 2;
}
.header {
  display: block;
  text-align: center;
  min-height: 60px;
}
.create-account-button,
.login-button,
.search-button {
  margin: 10px;
}
.sub-nav {
  display: flex;
  flex-direction: row;
}
.sub-nav-link {
  width: 33%;
  text-align: center;
  font-size: larger;
}
.sub-nav-link.active {
  font-weight: bolder;
}
.post-previews img {
  max-width: 90%;
  border-radius: 10px ;
}

.post-data img {
  border-radius: 50%;
  width: 50px;
  margin-right: 10px;
}
.post-data {
  display: flex;
  flex-direction: row;
  margin: 20px;
}
.post-previews {
  background-color: white;
  margin: 20px;
  max-width: 670px;
  border-radius: 10px ;
  padding-bottom: 20px;
}
.name-date {
  display: flex;
  flex-direction: column;
  font-size: small;
}
.post-header {
  margin: 20px;
}
.tags {
  display: flex;
  flex-direction: row;
  margin: 20px;
}
.tags a {
  margin-right: 20px;
}
@media only screen and (min-width: 1000px) {
  .sidebar-button {
    display: none;
  }
  .wrapper {
    display: flex;
    flex-direction: row;
    max-width: 1000px;
    margin: 0 auto;
  }
  .sidebar,
  .sub-nav-link {
    min-width: 250px;
    margin: 0 auto;
  }
  .post-previews img {
    max-width: 670px;
  }
}
